<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title>
      <div class="header-title">
        <span>{{imgDetails.name}}</span>
        <span>{{imgDetails.date}}</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="festival-title">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 img-card">
          <div class="card-img-top" *ngIf="imgShow" id="mainContainer">
            <img class="card_img" [src]="imgShow" alt="Card image cap" data-bs-toggle="modal" [ngStyle]="{'background-color' : borderColor}"
              data-bs-target="#staticBackdrop">

            <div class="card-footer" cdkDragBoundary=".card-img-top" cdkDrag>
                <div class="mobile-number" [ngStyle]="{'background-color' : backgroundColor}">
                  <p [ngStyle]="{'color' : textColor}"><ion-icon name="call"></ion-icon> 9876543120</p>
                </div>
              <span class="footer-border" [ngStyle]="{'background-color' : backgroundColor}">
                  <p style="margin: 0;" [ngStyle]="{'color' : textColor}"><ion-icon name="location-sharp"></ion-icon> B-6, 206 Green city near bagban circle sapara bhatha</p>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="festival-details">
    <div class="background-border-color">
      <div class="mb-3 row form-detail bg-color">
        <label class="col-sm-3 col-form-label">Background Color</label>
        <div class="col-sm-9">
          <input class="colorpicker" [(colorPicker)]="backgroundColor" [style.background]="backgroundColor"/>
        </div>
      </div>

      <div class="mb-3 row form-detail bg-color">
        <label class="col-sm-3 col-form-label">Border Color</label>
        <div class="col-sm-9">
          <input class="colorpicker" [(colorPicker)]="borderColor" [style.background]="borderColor"/>
        </div>
      </div>
    </div>

    <div class="mb-3 row form-detail">
      <label class="col-sm-3 col-form-label">Text Color</label>
      <div class="col-sm-9">
        <input class="colorpicker" [(colorPicker)]="textColor" [style.background]="textColor"/>
      </div>
    </div>

    <div class="mb-3 row form-detail">
      <label class="col-sm-3 col-form-label">Logo Height</label>
      <div class="col-sm-9">
        <input type="range" name="height" max="500" class="">
      </div>
    </div>

    <div class="mb-3 row form-detail">
      <label class="col-sm-3 col-form-label">Logo width</label>
      <div class="col-sm-9">
        <input type="range" name="height" max="500" class="">
      </div>
    </div>

    <div class="ionic-btn">
      <ion-buttons slot="secondary" class="sign-btn"  (click)="save('data')">
        <ion-button fill="solid" color="primary" class="downlod-text">
          Download
        </ion-button>
      </ion-buttons>
    </div>
  </div>
</ion-content>
