.tab1 {
    background-image:url('../../assets/images/photo-1535463731090-e34f4b5098c5.jpg') !important;
    background: #02003f;
    height: 200px;
    background-blend-mode: overlay;
    background-position: left;

    video {
        // height: 200px;
        height: auto;
        margin: 0px 17px;
        width: 92%;
        position: absolute;
        top: 30%;
        z-index: 1;
        border-radius: 17px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        border: 4px solid #fff;
    }

    .main-card {
        padding-top: 13px;
        padding-left: 50px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;

        .title {
            color: #fff;
            font-size: 20px;
            letter-spacing: 0.4px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }
    }
}
