<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Our Category</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="form category">
    <ion-icon name="search" class="search"></ion-icon>
    <input type="search" class="form-control form-input" placeholder="Search anything..." [(ngModel)]="searchInput">
  </div>
  <ion-content class="ion-padding">
    <div>
      <ng-container *ngFor="let menu of filteredFestivalList">
        <div class="catgory-menu" (click)="categoryCard(menu)" [class.active]="menu.folderName === selectedMenu">
          <ion-icon name="ellipsis-vertical"></ion-icon>
          <span>{{menu.name}}</span>
        </div>
      </ng-container>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab2">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Video</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab3">
        <ion-icon name="create"></ion-icon>
        <ion-label>Custom</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab4">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</div>


