
ion-menu-button {
    color: #fff;
    margin-top: 4px;
}

ion-title {
    padding: 14px;
    font-size: 18px;
    color: #fff;
    background: #061f6f;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.catgory-menu {
    padding: 12px 0px;
    display: flex;
    align-items: center;

    span {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.4px;
        font-weight: 500;
    }

    ion-icon {
        font-size: 18px;
    }
}

.form {
    position: relative;
    .search {
        position: absolute;
        top: 8px;
        right: 3%;
        font-size: 18px;
    }
}

.category {
    margin: 20px 20px 0px 20px;
}

.active {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    padding-left: 15px;
    border-left: 3px solid #061f6f;
    transition: all 0.4s ease-in-out;
    background-color: #e5ecff;
}

::ng-deep ion-content .inner-scroll {
    padding: 0;
}
