.tab1 {
    background-image:url('../../assets/images/photo-1535463731090-e34f4b5098c5.jpg') !important;
    background: #02003f;
    height: 200px;
    background-blend-mode: overlay;
    background-position: left;

    video {
        // height: 200px;
        height: auto;
        margin: 0px 17px;
        width: 92%;
        position: absolute;
        top: 30%;
        z-index: 1;
        border-radius: 17px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        border: 4px solid #fff;
    }

    .main-card {
        padding-top: 13px;
        padding-left: 50px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;

        .title {
            color: #fff;
            font-size: 20px;
            letter-spacing: 0.4px;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }
    }
}

.profile-img {
    img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: #fff;
    }
}

ion-title {
    font-weight: 600;
}

ion-card {
    width: 100%;
    height: 160px;
    box-shadow: none;
    border-radius: 12px;
    
    img {
        object-fit: cover;
        width: 100%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
    }
}

.ion-margin-top {
    margin: 0;
}

.cards {
    overflow: scroll;
    width: 100vw;
    height: 240px;
}

::-webkit-scrollbar {
    display: none;
  }

ion-slide {
    display: flex;
}

.card-height {
    height: 200px !important;
}

.festival-date {
    position: absolute;
    z-index: 1;
    background: red;
    color: #fff;
    right: 0;
    padding: 3px 5px;
    margin-top: 13px;
    border-radius: 10px 0 0 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

    .date {
        font-size: 10px;
        padding: 0;
    }
}

.card-img-top {
    width: 150px;
    height: 190px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    margin-right: 15px !important;
    margin: 0;

    .card_img {
        border-radius: 10px;
        height: 155px;
    }

    span {
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        display: block;
        padding-bottom: 5px;
    }
}

.festival-title {
    margin-top: 20%;
    margin-left: 15px;
    letter-spacing: 0.4px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;

    span {
        font-size: 16px;
    }
}